# Next.js
hype-web/.next/
hype-web/node_modules/
hype-frontend/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Local envs
.env*.local

# WP Temp
temp_product_data.json
api_test.json
